@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: "Salesforce-Sans";
	src: url("/fonts/Salesforce-Sans-Regular.ttf")
		format("ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Salesforce-Sans", sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
}

li.selected {
	background-color: #e5f3ff;
}

.white-icon {
	color: white;
}
